@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminPro-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminPro-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminPro-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminProCond-Regular.ttf);
    font-weight: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminProCond-Bold.ttf);
    font-weight: bold;
    font-stretch: condensed;
}

@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminProWide-Bold.otf);
    font-weight: bold;
    font-stretch: expanded;
}

@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminProWide-Bold-Italic.otf);
    font-weight: bold;
    font-stretch: expanded;
    font-style: italic;
}

@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminProWide-Light.otf);
    font-weight: lighter;
    font-stretch: expanded;
}

@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminProWide-Light-Italic.otf);
    font-weight: lighter;
    font-stretch: expanded;
    font-style: italic;
}


html,body {
    font-family: AcuminPro;
    color: #222;
    font-size: 24px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

/* HEADER */
.banner {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 48;
  background: white;
}

#backgroundTitle {
  background-color: white;
}

#title {
  font-family: AcuminPro;
  font-size: 50px;
  font-weight: bold;
  font-stretch: expanded;
  margin: 10px;
  z-index: 52;
  justify-content: center;
  min-width: 375px;
  color: black;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes depth {
  0% {
    text-shadow: 0 0 black;
  }
  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }
  50% {
    text-shadow: 0 0 black;
  }
  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
      -5px 0 black;
  }
  100% {
    text-shadow: 0 0 black;
  }
}

#shuffle {
  position: absolute;
  left: 8px;
  top: 10px;
  font-weight: bold;
  font-size: 20px;
  border: 1.5px solid;
  padding: 8px;
  background: #ff00ff;
  z-index: 200;
  margin-top: 4px;
  margin-left: 2px;
  cursor: pointer;
}

#shuffle:hover {
  background: #d3d3d3;
}

a {
  cursor: pointer;
}

a:visited {
  color: blue;
}

#allCategories {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 80px;
  width: 100%;
}

.category {
  overflow: auto;
  height: 100%;
  width: 20%;
  margin-right: 8px;
}

.categoryTitle {
  top: 160px;
  left: 4px;
  height: 65px;
  font-weight: bold;
  padding-left: 8px;
  padding-bottom: 14px;
  z-index: 40;
  background-color: white;
  color: white;
  text-shadow: 2px 2px 4px blue;
  border-bottom: 1.5px solid;
  border-color: black;
  text-align: left;
  font-size: 27px;
}

.categoryLede {
  margin-top: 5px;
  font-size: 14px;
  color: black;
  text-shadow: none;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.categoryTitle:hover {
  font-style: italic;
}

.categoryTitle:hover + .categoryDescription {
  display: block;
}

.categoryDescription {
  position: relative;
  height: auto;
  width: 95%;
  font-weight: lighter;
  font-size: 16px;
  display: none;
  background-color: blue;
  color: white;
  padding: 5px;
  border: 1.5px solid;
  border-top: none;
  border-color: black;
}

.categoryInfo {
  width: inherit;
  position: fixed;
  z-index: 41;
}

.tileWrap {
  max-height: 93vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 42;
}

.tiles {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 85px;
  padding-bottom: 50px;
}

.tile {
  margin: 5px;
  height: auto;
  width: 88%;
  text-align: left;
  font-size: 14px;
  border: 1px solid #000;
  padding: 12px 12px;
}

.quote {
  font-size: 20px;
  font-weight: bold;
  font-stretch: expanded;
  border: none;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

img {
  justify-content: center;
  height: auto;
  max-width: 100%;
  box-shadow: 4px 4px 6px black;
}

.tile:after {
  width: 100%;
  content: attr(data-text);
  position: relative;
  top: 5px;
  display: none;
  font-style: italic;
  font-weight: normal;
  text-align: right;
  font-size: 12px;
  font-stretch: normal;
}

.tile:hover:after {
  display: block;
}
