@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminPro-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminPro-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: AcuminPro;
    src: url(fonts/AcuminPro-Regular.ttf);
    font-weight: normal;
}

html,body {
    font-family: AcuminPro;
    color: #222;
    font-size: 24px;
    margin: 0px;
}

/* HEADER */
.banner {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 48;
  background: white;
}

.title {
  font-family: AcuminPro;
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
  z-index: 52;
  justify-content: center;
  min-width: 375px;
}

#myBtnContainer {
  position: fixed;
  margin-top: 65px;
  z-index: 49;
  padding-bottom: 8px;
  border-bottom: solid;
  padding-left: 8px;
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.3));
}

.filterDiv {
  border: 1px solid #000;
  padding: 12px 16px;
  text-align: center;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: inline-block;
}

/* Style the buttons */
.btn {
  border: 1px solid #000;
  padding: 8px 10px;
  margin-top: 5px;
  background-color: #a9ff47;
  cursor: pointer;
  font-family: AcuminPro;
  color: #222;
  font-weight: bold;
  font-size: 14px;
  z-index: 49;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn:active {
  background-color: #666;
  color: white;
}

#allCategories {
  position: relative;
  margin-top: 160px;
  width: 100%;
}

.category {
  position: relative;
  height: 450px;
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
}

.categoryTitle {
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
  left: 4px;
  font-weight: bold;
  margin-left: 8px;
  text-decoration: underline;
  z-index: 40;
}

.categoryDescription {
  position: relative;
  height: 100%;
  width: 350px;
  font-weight: lighter;
  font-size: 20px;
  margin: 8px;
}

.categoryInfo {
  width: 365px;
  height: 100%;
  float: left;
  border-right: solid;
}

.tiles {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 5px;
}

.tile {
  margin: 5px;
  height: 400px;
  width: 400px;
  flex: 0 0 auto;
  text-align: left;
}

.image {
  display: flex;
  align-items: center;
}

img {
  justify-content: center;
  height: auto;
  max-width: 100%;
}
